.todo-check {
	float: left;
	width: 100px;
}
.todo-title {
	position: relative;
	width: calc(100% - 160px);
	float: left;
	text-align: left;
	top: 15px; 
}
.todo-delete {
	float:right;
	width: 100px;
}